@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer  Localizer
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>@Localizer["Search Files"]</h1>
    <br />
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <form asp-action="Results" asp-controller="Uploads">
                <div class="input-group  input-group-lg  mb-3">
                    <input type="text" class="form-control" name="Term" placeholder="@Localizer["Enter File Name"]" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <input class="btn btn-outline-primary" type="submit" value="@Localizer["Search"]" />
                </div>
            </form>
        </div>
        <div class="col-md-12 text-center" style="margin-top:40px">
            <h2>@Localizer["Popular Downloads"]</h2>
            <hr />
            <table class="table">
                <tbody>
                    @foreach (UploadViewModel item in ViewBag.Popular)
                    {
                        <tr>
                            <td>
                                @if (item.ContentType.ToLower().StartsWith("image"))
                                {
                                    <img src="~/Uploads/@item.FileName" alt="image" class="img-thumbnail img-preview" loading="lazy"/>
                                }
                            </td>
                            <td>@item.OriginalFileName</td>
                            <td>@Localizer["Downloads"]: @item.DownloadCount</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
