@using File_Sharing_App.Areas.Admin.Models
@model AdminUserViewModel

 <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
              <div class="card bg-light d-flex flex-fill">
                <div class="card-header text-muted border-bottom-0">
                  Digital Strategist
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead"><b>@(Model.FristName +" "+ Model.LastName)</b></h2>
                      <p class="text-muted text-sm"><b>About: </b> @Model.Email </p>
                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span ><b>Created Date : </b> <span class="Date-format">@Model.CreatedDate.ToString("yyyy/MM/dd hh:mm:ss",new System.Globalization.CultureInfo("en-US"))</span></li>
@*                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> </li>
*@                      </ul>
                    </div>
                    <div class="col-5 text-center">
                      <img src="~/Admin/dist/img/user1-128x128.jpg" alt="user-avatar" class="img-circle img-fluid">
                    </div>
                  </div>
                </div>
                <form asp-action="Block">                
                    <div class="card-footer">
                  <div class="text-right">
                    <a href="#" class="btn btn-sm bg-teal">
                      <i class="fas fa-comments"></i>
                    </a>
                    <input type="hidden" asp-for="UserId" />
                    <button type="submit" class="btn btn-sm @(Model.IsBlocked ? "btn-danger" : "btn-primary")">
                      <i class="fas @(Model.IsBlocked ? "fa-user" : "fa-user-lock")"></i> @(Model.IsBlocked ? "Unlock User" : "Block User")                    
                      </button>

                  </div>
                </div>
         </form>

              </div>
            </div>
