@using Microsoft.Extensions.Localization
@model ChangePasswordViewModel
@inject IStringLocalizer<_SharedResource> localizer

<section id="mu-contact" onmousemove="wait()">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area" style="padding-top:10px">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-title">
                                <h1>@localizer["ChangePasswordTitle"].Value</h1>
                            </div>
                        </div>
                    </div>
                    <!-- Start Contact Content -->
                    <div class="mu-contact-content">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="mu-contact-form-area">
                                    <div id="form-messages"></div>
                                    <form asp-action="ChangePassword" asp-controller="Account" method="post">
                                        <div class="form-group">
                                            <input type="password" asp-for="CurrentPassword" class="form-control" placeholder="@localizer["CurrentPassword"].Value">
                                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            <input type="password" asp-for="NewPassword" class="form-control" placeholder="@localizer["NewPassword"].Value">
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            <input type="password" asp-for="ConfirmNewPassword" class="form-control" placeholder="@localizer["ConfirmNewPassword"].Value">
                                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                        </div>
                                        <button type="submit" class="mu-send-msg-btn"><span>@localizer["Submit"].Value</span></button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Contact Content -->
                </div>
            </div>
        </div>
    </div>
</section>