@model File_Sharing_App.Models.RegisterViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Title"];
}
<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area" style="padding-top:10px">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-title">
                                <h1> @Localizer["Title"]</h1>
                            </div>
                        </div>
                    </div>
                    <!-- Start Contact Content -->
                    <div class="mu-contact-content">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="mu-contact-form-area">
                                    <div id="form-messages"></div>
                                    <form asp-action="Register" asp-route-returnUrl="@Context.Request.Query["returnUrl"]">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <input type="email" asp-for="Email" class="form-control" placeholder="@Localizer["Email"]">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            <input type="text" asp-for="FristName" class="form-control" placeholder="@Localizer["FristName"]">
                                            <span asp-validation-for="FristName" class="text-danger"></span>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            <input type="text" asp-for="LastName" class="form-control" placeholder="@Localizer["LastName"]">
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            <input asp-for="Password" class="form-control" type="password" placeholder="@Localizer["Password"]" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="@Localizer["Confirm Password"]" />
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>

                                        @if (TempData["Error"] != null)
                                        {
                                            if (Localizer["Title"].Value == "Title")
                                            {
                                                <div class="alert alert-danger">@TempData["Error"]</div>
                                            }
                                            else
                                            {
                                                <div class="alert alert-danger">اسم المستخدم او كلمة المرور غير صحيحة</div>
                                            }
                                        }
                                        <button type="submit" class="mu-send-msg-btn"><span>@Localizer["Submit"]</span></button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Contact Content -->
                </div>
            </div>
        </div>
    </div>
</section>